body{

    background-color: hsl(350, 36%, 51%);
}


.Left{
    width: 45vw;
    height: 100vh;
    display: inline-block;
    
       text-align: center;
}
#cpt1{
    font-size: 100px;
    align-items: center;
    padding-left: 50px;
    
}
#heart1{
    font-size: 200px;

}

#btn1{
    width: 200px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
    background-color: hsla(300, 96%, 34%, 0.856);
    font-size: 20px;
}


.Right{
       width: 45vw;
    height: 100vh;
    display: inline-block;
   
  
}
#cpt2{
    font-size: 100px;
    align-items: center;
    padding-left: 50px;
    
}
#heart2{
    font-size: 200px;

}

#btn2{
    width: 200px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
    background-color: hsl(300, 5%, 4%);
    font-size: 20px;
    color: rgb(151, 1, 151);
}
